@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Space Grotesk", sans-serif;
}
main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #52057B;
}
main header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 9rem;
}
main header #Logo a{
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}
main header .header_menu {
    display: flex;
}
main header .menu_bar{
    display: none;
}
main header .header_menu li {
    padding: 0 2rem;
    transition: all .5s ease;
    position: relative;
}
main header .header_menu li a {
    transition: all .4s ease;
    font-size: 1.1rem;
    color: rgb(255, 255, 255);
}
main header .header_menu li:hover{
    transform: scale(1.1);
}
main header .header_menu li:hover a{
    color: rgb(225, 159, 255);
}
main header .header_menu li::before{
    content: "";
    position: absolute;
    width: 0%;
    left: 50%;
    height: 2px;
    background-color: rgb(225, 159, 255);
    /* border-radius: 10px; */
    bottom: -9px;
    transition: all .5s ease;
}
main header .header_menu li:hover::before{
    width: 50%;
    left: 1%;
}
main header .header_menu li::after{
    content: "";
    position: absolute;
    width: 0%;
    left: 50%;
    height: 2px;
    background-color: rgb(225, 159, 255);
    /* border-radius: 10px; */
    bottom: -6px;
    transition: all .5s ease;
}
main header .header_menu li:hover::after{
    width: 50%;
    left: 1;
}
main header .header_menu li:active a{
    color: red;
}
main header .header_menu li:active::before{
    background-color: red;
}
main header .header_menu li:active::after{
    background-color: red;
}
main .hero_session>.main_label>h4{
    font-size: 1.5rem;
    color: #BC6FF1;
}
.hero_session>.main_label>h1{
    color: #ffffff;
    font-size: 4rem;
}
main .hero_session>.main_label>p{
    font-size: 1rem;
    color: rgb(179, 178, 178);
}
main .hero_session{
    position: relative;
    top: 40%;
    bottom: 50%;
    transform: translateY(-100%);
    padding: 0 9rem;
}
main .hero_session .main_label{
    line-height: 1.4;
    
}
main .hero_session .main_label>button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    position: relative;
    top: 1rem;
    background-color: white;
    position: relative;
    overflow: hidden;
}
main .hero_session .main_label>button:active{
    background-color: #BC6FF1;
}
main .hero_session .main_label button a{
    font-size: 1rem;
    font-weight: 600;
}
main .hero_session .main_label button::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 250px;
    top: -50px;
    right: 60px;
    transform: rotate(90deg);
    background-color: #52057B;
    transition: all .5s ease;
    filter:blur(10px);
    
}
main .hero_session .main_label button:hover::before{
    transform: rotate(290deg);
}
main .hero_session>img{
    position: absolute;
    right: 10%;
    width: 28rem;
    top: -8rem;
}
@media screen and (max-width:1330px) {
    main header {
        padding: 2.5rem 6rem;
    }
    main header #Logo a{
        font-size: 3rem;
    }
    main header .header_menu li {
        padding: 0 1.5rem;
    }
    main header .header_menu li a {
        font-size: 1rem;
        color: rgb(255, 255, 255);
    }
    main header .header_menu li a {
        font-size: 1rem;
    }
    main .hero_session{
        top: 45%;
        padding: 0 6rem;
    }
    main .hero_session>.main_label>h4{
        font-size: 1.2rem;
    }
    .hero_session>.main_label>h1{
        font-size: 3.5rem;
    }
    main .hero_session>.main_label>p{
        font-size: .8rem;
    }
    main .hero_session .main_label>button{
        padding: 8px 18px;
    }
    main .hero_session>img{
        position: absolute;
        right: 10%;
        width: 20rem;
        top: -8rem;
    }

}
@media screen and (max-width:1040px) {
    *{
        transition: all .5s ease;
    }
    main header{
        align-items: normal;
    }
    main header .header_menu{
        display: none;
    }
    main header .menu_bar{
        display: block;
        border-radius: 10px;
        border: none;
        width: 18%;
        height: 5vh;
        position: absolute;
        right: 10%;
        z-index: 10;
    }
    main header .menu_bar_JS{
        width: 50%;
        height: 50vh;
        position: absolute;
    }
    main header button .header_menu_JS li{
        line-height: 2;
        padding: 2% 0;
        position: relative;
    }
    main header button .header_menu_JS li a{
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
        transition: all .3s ease;
    }
    main header button .header_menu_JS li:hover a{
        color: #BC6FF1;
    }
    main header button .header_menu_JS li:active a{
        color: #f52626;
    }
    main header button .header_menu_JS li::before{
        content: "";
        width: 0%;
        height: 2px;
        bottom: 10px;
        background-color: #f52626;
        position: absolute;
        left: 0;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        transition: all .5s ease;
    }
    main header button .header_menu_JS li:hover::before{
        width: 20%;
    }
    main .hero_session{
        top: 28%;
        text-align: center;
    }
    main .hero_session>.main_label>h4{
        font-size: 1rem;
    }
    .hero_session>.main_label>h1{
        font-size: 3rem;
    }
    main .hero_session>.main_label>p{
        font-size: .7rem;
    }
    main .hero_session .main_label>button{
        padding: 6px 16px;
    }
    main .hero_session>img{
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        top: 120%;
    }
}
@media screen and (max-width:570px){
    main .hero_session{
        top: 25%;
        text-align: center;
        padding: 8%;
    }
    main .hero_session>.main_label>h4{
        font-size: .8rem;
    }
    .hero_session>.main_label>h1{
        font-size: 2.5rem;
    }
    main .hero_session>.main_label>p{
        font-size: .7rem;
    }
    main .hero_session .main_label>button{
        padding: 4px 14px;
    }
    main header #Logo a{
        font-size: 2rem;
    }
    main header .menu_bar{
        width: 18%;
        height: 4vh;
        right: 10%;
    }    
    main header .menu_bar{
        display: block;
        border-radius: 10px;
        border: none;
        width: 18%;
        height: 5vh;
        position: absolute;
        right: 10%;
        z-index: 10;
    }
    main header .menu_bar_JS{
        width: 50%;
        height: 40vh;
        position: absolute;
    }
    main header button .header_menu_JS li{
        line-height: 2;
        padding: 2% 0;
        position: relative;
    }
    main header button .header_menu_JS li a{
        font-size: 1.2rem;
        font-weight: 600;
        color: black;
        transition: all .3s ease;
    }
    main header button .header_menu_JS li:hover a{
        color: #BC6FF1;
    }
    main header button .header_menu_JS li:active a{
        color: #f52626;
    }
    main header button .header_menu_JS li::before{
        content: "";
        width: 0%;
        height: 2px;
        bottom: 10px;
        background-color: #f52626;
        position: absolute;
        left: 0;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        transition: all .5s ease;
    }
    main header button .header_menu_JS li:hover::before{
        width: 20%;
    }
    main .hero_session{
        top: 28%;
        text-align: center;
    }
}
@media screen and (max-width:440px){
    main .hero_session{
        top: 20%;
        text-align: center;
        padding: 5%;
    }
    main .hero_session>.main_label>h4{
        font-size: .6rem;
    }
    .hero_session>.main_label>h1{
        font-size: 2.2rem;
    }
    main .hero_session>.main_label>p{
        font-size: .6rem;
    }
    main .hero_session .main_label>button{
        padding: 4px 14px;
    }
    main header #Logo a{
        font-size: 2rem;
    }
    main header .menu_bar{
        width: 18%;
        height: 3.5vh;
        right: 10%;
        font-size: .6rem;
    }
        main header .menu_bar{
        display: block;
        border-radius: 10px;
        border: none;
        width: 18%;
        height: 5vh;
        position: absolute;
        right: 10%;
        z-index: 10;
    }
    main header .menu_bar_JS{
        width: 50%;
        height: 30vh;
        position: absolute;
    }
    main header button .header_menu_JS li{
        line-height: 2;
        padding: 2% 0;
        position: relative;
    }
    main header button .header_menu_JS li a{
        font-size: 1rem;
        font-weight: 600;
        color: black;
        transition: all .3s ease;
    }
    main header button .header_menu_JS li:hover a{
        color: #BC6FF1;
    }
    main header button .header_menu_JS li:active a{
        color: #f52626;
    }
    main header button .header_menu_JS li::before{
        content: "";
        width: 0%;
        height: 2px;
        bottom: 10px;
        background-color: #f52626;
        position: absolute;
        left: 0;
        left: 50%;
        right: 50%;
        transform: translateX(-50%);
        transition: all .5s ease;
    }
    main header button .header_menu_JS li:hover::before{
        width: 20%;
    }
    main .hero_session{
        top: 28%;
        text-align: center;
    }
    main header {
        padding: 2.5rem 4rem;
    }
}